<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bnvs.metaler">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_metaler"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_metaler_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_API_KEY}" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".home.ActivityHome"></activity>
        <activity android:name=".materials.ActivityMaterials" />
        <activity android:name=".manufactures.ActivityManufactures" />
        <activity android:name=".bookmarks.ActivityBookmarks" />
        <activity android:name=".mypage.ActivityMyPage" />
        <activity android:name=".search.ActivitySearch" />
        <activity android:name=".detail.ActivityDetail" />
        <activity android:name=".postsecond.ActivityPostSecond" />
        <activity android:name=".postfirst.ActivityPostFirst" />
        <activity android:name=".myposts.ActivityMyPosts" />
        <activity android:name=".jobmodify.ActivityJobModify" />
        <activity android:name=".jobinput.ActivityJobInput" />
        <activity android:name=".termsagree.ActivityTermsAgree" />
        <activity
            android:name=".login.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>