<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bnvs.metaler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_metaler"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_metaler_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_API_KEY}" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.home.ActivityHome" />
        <activity
            android:name=".view.posts.materials.ActivityMaterials"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.posts.manufactures.ActivityManufactures"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".view.bookmarks.ActivityBookmarks" />
        <activity android:name=".view.mypage.ActivityMyPage" />
        <activity
            android:name=".view.search.ActivitySearch"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".view.detail.ActivityDetail" />
        <activity android:name=".view.addeditpost.postsecond.ActivityPostSecond" />
        <activity android:name=".view.addeditpost.postfirst.ActivityPostFirst" />
        <activity android:name=".view.myposts.ActivityMyPosts" />
        <activity android:name=".view.jobmodify.ActivityJobModify" />
        <activity android:name=".view.jobinput.ActivityJobInput" />
        <activity android:name=".view.termsagree.ActivityTermsAgree" />
        <activity android:name=".view.termscheck.ActivityTermsCheck" />
        <activity android:name=".view.modifycomment.ActivityModifyComment" />
        <activity android:name=".view.login.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>